@charset "UTF-8";
/********** Flexbox *************/ /********** Sélecteur pour centrer des éléments ********/
.loader, .working__button--fav, .working__button--title, .working__button--circle, .working__button {
  display: flex;
  align-items: center;
}

.menu .choice p, .menu .choice h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/************ Style généraux du site ***************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#wrapper {
  margin: 0 auto;
}

h1, h2 {
  margin: 20px 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

ul, li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/******** Header contenant le logo ***********/
.mainHeader {
  width: 100%;
  text-align: center;
  padding: 10px;
  box-shadow: 0 1px 6px #808080;
  margin-bottom: 4px;
}

/********** Début du contenu principal - partie explore ************/
.explore__where {
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
}
.explore__where form {
  line-height: 50px;
}
.explore__where i {
  margin-right: 10px;
}
.explore__where input {
  border: none;
  width: 110px;
  margin-left: 10px;
  background-color: #eaeaea;
}
.explore__where input:focus {
  outline: none;
}
.explore__where input::-webkit-input-placeholder {
  color: #000;
}
.explore__where input::-moz-placeholder {
  color: #000;
}
.explore__where input:-ms-input-placeholder {
  color: #000;
}
.explore__where input::-ms-input-placeholder {
  color: #000;
}
.explore__where input::placeholder {
  color: #000;
}
.explore__book {
  background-color: #f6f6f6;
  padding: 35px 30px;
  text-align: center;
}

/********** Section contenant les boutons de navigation ************/
.second {
  padding: 30px 20px 50px 20px;
}

.working {
  padding-left: 10px;
}
@media only screen and (min-width: 768px) {
  .working {
    display: flex;
    flex-flow: column nowrap;
  }
}
@media only screen and (min-width: 992px) {
  .working {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
}
.working__button {
  display: flex;
  position: relative;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 30px 10px 30px 30px;
  background-color: #f6f6f6;
  box-shadow: 3px 6px 8px #eaeaea;
  cursor: pointer;
}
.working__button:hover {
  background-color: #f2eafb;
}
.working__button:hover .working__button--fav {
  color: #9356DC;
}
@media only screen and (min-width: 992px) {
  .working__button {
    margin-left: 30px;
  }
}
.working__button--circle {
  position: absolute;
  left: 0;
  height: 25px;
  width: 25px;
  font-size: 16px;
  color: #fff;
  background-color: #9356DC;
  border-radius: 50%;
  justify-content: center;
  transform: translateX(-50%);
}
.working__button--title {
  font-size: 16px;
  margin-left: 20px;
}
.working__button--fav {
  font-size: 20px;
  color: #808080;
}

/********** Section contenant les cartes de restaurant ************/
.restaurant {
  padding: 30px 20px;
  background-color: #f6f6f6;
}

@media only screen and (min-width: 768px) {
  .resto {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 992px) {
  .resto {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
.resto__card {
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 8px #808080;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .resto__card {
    width: 49%;
  }
}
@media only screen and (min-width: 992px) {
  .resto__card {
    width: 24%;
  }
}
.resto__card__img img {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
  object-fit: cover;
}
.resto__card__new {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 16px;
  color: #1b6150;
  padding: 5px 10px;
  background-color: #99E2D0;
}
.resto__card__info {
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resto__card__info h3 {
  margin-bottom: 5px;
}
.resto__card__info i {
  font-size: 24px;
}

.button {
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  margin: 30px auto;
  padding: 15px 25px;
  border-radius: 30px;
  border: none;
  box-shadow: 1px 2px 8px #808080;
  cursor: pointer;
  opacity: 1;
  transition: all 600ms;
}
.button:hover {
  opacity: 0.8;
  box-shadow: 2px 2px 2px grey;
}

.loader {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
  flex-direction: column;
  justify-content: center;
  gap: 42px;
  -webkit-animation: loader-kick 0.3s ease forwards 3s;
  animation: loader-kick 0.3s ease forwards 3s;
}
.loader p {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  font-size: 40px;
  color: #9356DC;
  -webkit-animation: loader-color 3s linear infinite;
  animation: loader-color 3s linear infinite;
}
.loader__spin {
  position: relative;
  width: 200px;
  height: 200px;
  border: 10px solid transparent;
  border-top-color: #9356DC;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}
.loader__spin::after {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 10px;
  left: 10px;
  border: 7px solid transparent;
  border-left-color: #9356DC;
  border-right-color: #9356DC;
  border-radius: 50%;
  -webkit-animation: spinnerReverse 2.5s linear infinite;
  animation: spinnerReverse 2.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinnerReverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes spinnerReverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes loader-kick {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader-kick {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes loader-color {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader-color {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.fa-heart {
  cursor: pointer;
  position: relative;
}
.fa-heart::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  content: "\f004";
  font-family: fontawesome;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-heart:hover::after {
  background-image: linear-gradient(#9356DC 20%, #FF79DA);
  -webkit-animation: fillIn 0.3s ease-in-out;
  animation: fillIn 0.3s ease-in-out;
  transform-origin: bottom;
}

@-webkit-keyframes fillIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fillIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.choice:hover .fa-circle-check {
  -webkit-animation: rotate 0.5s ease-in-out forwards;
  animation: rotate 0.5s ease-in-out forwards;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/************ Header des pages de menu **************/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  position: relative;
}
.header__title {
  font-family: "Shrikhand";
  font-size: 25px;
}
.header__fav {
  font-size: 25px;
  color: #000;
  position: absolute;
  left: 20px;
}

/******** Contenu des pages de menu **********/
.menu {
  position: relative;
}
.menu__img {
  z-index: 0;
}
@media only screen and (min-width: 768px) {
  .menu__img {
    height: 50vh;
  }
}
@media only screen and (min-width: 992px) {
  .menu__img {
    height: 40vh;
  }
}
.menu__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.menu__desc {
  z-index: 1;
  position: relative;
  margin-top: -50px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
}
.menu__desc__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px 10px 20px;
}
@media only screen and (min-width: 992px) {
  .menu__desc__title {
    width: 1067px;
    margin: 0 auto;
  }
}
.menu__desc__title h1 {
  font-family: "Shrikhand";
}
.menu__desc__title i {
  font-size: 22px;
}
@media only screen and (min-width: 992px) {
  .menu__desc__content {
    width: 1067px;
    margin: 0 auto;
  }
}
.menu .dishes {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
  width: 100%;
}
.menu .dishes__title {
  text-transform: uppercase;
}
.menu .dishes__title::after {
  content: "";
  display: block;
  height: 3px;
  width: 40px;
  margin-top: 5px;
  background-color: #99E2D0;
}
@media only screen and (min-width: 768px) {
  .menu .dishes__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 992px) {
  .menu .dishes__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
.menu .choice {
  color: #000;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  height: 68px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #808080;
  -webkit-animation: slideDown 1.5s ease-in-out;
  animation: slideDown 1.5s ease-in-out;
}
@media only screen and (min-width: 768px) {
  .menu .choice {
    width: 49%;
  }
}
@media only screen and (min-width: 992px) {
  .menu .choice {
    width: 32%;
  }
}
.menu .choice__left {
  height: 100%;
  width: 80%;
  max-width: 301px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu .choice__middle {
  max-width: 48px;
  font-size: 14px;
  height: 100%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.menu .choice__right {
  width: 0;
  height: 100%;
  opacity: 0;
  background-color: #eaeaea;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.menu .choice__right .fa-circle-check {
  color: #fff;
}
.menu .choice:hover .choice__left {
  width: 60%;
  max-width: 226px;
}
.menu .choice:hover .choice__middle {
  width: 20%;
  max-width: 68px;
}
.menu .choice:hover .choice__right {
  width: 20%;
  max-width: 68px;
  opacity: 1;
}
.menu .choice h2 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
}
.menu .choice p {
  font-size: 14px;
}

.order {
  text-align: center;
}
.order__button {
  margin-top: 0;
  margin-bottom: 60px;
}
@media only screen and (min-width: 768px) {
  .order__button {
    width: 30%;
  }
}
@media only screen and (min-width: 992px) {
  .order__button {
    width: 30%;
  }
}

@-webkit-keyframes slideDown {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/************ FOOTER ****************/
footer {
  color: #fff;
  background-color: #353535;
  padding: 10px 30px;
}
footer h2 {
  font-size: 16px;
  font-family: "Shrikhand";
}
footer a {
  display: inline-block;
  color: #fff;
  margin-bottom: 10px;
}
footer .fa-solid {
  width: 15px;
  margin-right: 10px;
}

/*# sourceMappingURL=styles.css.map */
