.button {
    color: #fff;
    background: $buttonColor;
    margin: 30px auto;
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
    box-shadow: 1px 2px 8px grey;
    cursor: pointer;
    opacity: 1;
    transition: all 600ms;
    &:hover{
        opacity: 0.8;
        box-shadow: 2px 2px 2px grey;
    }
}