.choice:hover{
    .fa-circle-check{
        -webkit-animation: rotate .5s ease-in-out forwards;
                animation: rotate .5s ease-in-out forwards;
    }
    
    @-webkit-keyframes rotate {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    
    @keyframes rotate {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
}