.loader {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: $grey-2;
    @extend %center;
    flex-direction: column;
    justify-content: center;
    gap: 42px;
    p {
        font-family: "Shrikhand", cursive;
        font-weight: 100;
        font-size: 40px;
        color: $primary;
        -webkit-animation: loader-color 3s linear infinite;
                animation: loader-color 3s linear infinite;
    }
    &__spin {
        position: relative;
        width: 200px;
        height: 200px;
        border: 10px solid transparent;
        border-top-color: $primary;
        border-bottom-color: $primary;
        border-radius: 50%;
        -webkit-animation: spinner 1.5s linear infinite;
                animation: spinner 1.5s linear infinite;
        &::after{
            content: '';
            position: absolute;
            top: 10px;
            bottom: 10px;
            right: 10px;
            left: 10px;
            border: 7px solid transparent;
            border-left-color: $primary;
            border-right-color: $primary;
            border-radius: 50%;
            -webkit-animation: spinnerReverse 2.5s linear infinite;
                    animation: spinnerReverse 2.5s linear infinite;
        }
    }
    -webkit-animation: loader-kick 0.3s ease forwards 3s;
            animation: loader-kick 0.3s ease forwards 3s;
}
  
  
@-webkit-keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:  rotate(360deg);
    }
}
  
  
@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:  rotate(360deg);
    }
}

@-webkit-keyframes spinnerReverse {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:  rotate(-360deg);
    }
}
@keyframes spinnerReverse {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:  rotate(-360deg);
    }
}

@-webkit-keyframes loader-kick {
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes loader-kick {
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes loader-color {
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

@keyframes loader-color {
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}