/********** Sélecteur pour centrer des éléments ********/

%center{
    display: flex;
    align-items: center;
}

%overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}